header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 5em;
	background-color: #3b5998;
	color: white;
}

header img {
	margin: 1em 0 0.25em 15%;
}

article {
	margin-top: 5.5em;
}

body {
	background-color: #E7EBF2;
}

table th,td{
	padding: 0.42em;
}

section:target {
	background-color: #3b5998;
	border-radius: 15px;
	color: white;
	padding: 1em;
}
section:target table{
	color: white;
}

nav {
	background-color: #FFF;
	border-radius: 15px;
	width: 23em;
	margin: 0 auto;
	padding: 1em;
}

ul#index a{
	text-decoration: none;
	color: blue;
}

section#generalSect{
	background-color: #FFF;
	border-radius: 15px;
	padding: 1em;
	margin: 1em auto;
	width: 60em;
}
section#generalSect h2.heading{
	text-align: center;
}
section#engineFunctions{
	background-color: #FFF;
	border-radius: 15px;
	padding: 1em;
	margin: 1em auto;
	width: 70em;
}
section#engineFunctions h2.heading{
	text-align: center;
}
