header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	height: 5em;
	background-color: #3b5998;
	color: white;
}

header img {
	margin: 1em 0 0.25em 15%;
}

article {
	margin-top: 5.5em;
}

a{
	color: blue;
}

body {
	background-color: #E7EBF2;
}

h2.heading{
	text-align: center;
}

table th,td{
	padding: 0.42em;
}

section:target {
	background-color: #3b5998;
	border-radius: 15px;
	color: white;
	padding: 1em;
}
section:target table{
	color: white;
}
section:target a{
	color: orange;
}

article h1{
	text-align: center;
}

nav {
	background-color: #FFF;
	border-radius: 15px;
	width: 23em;
	margin: 0 auto;
	padding: 1em;
}

ul#index a{
	text-decoration: none;
	color: blue;
}

section#generalSect, section#engineFunctions, section#tutorial{
	width: 72%;
}

section#generalSect{
	background-color: #FFF;
	border-radius: 15px;
	padding: 1em;
	margin: 1em auto;
	min-width: 40em;
}
section#engineFunctions{
	background-color: #FFF;
	border-radius: 15px;
	padding: 1em;
	margin: 1em auto;
	min-width: 40em;
}
section#tutorial{
	background-color: #FFF;
	border-radius: 15px;
	padding: 1em;
	margin: 1em auto;
	min-width: 40em;
}

.code { /* Looks horrible */
	background-color: black;
	font-family: monospace;
	color: lime;
	width: 45em;
	padding: 1em;
	overflow: hidden;
	margin: 2em;
	border-radius: 10px;
}

.jump {
	position: fixed;
	display: block;
	padding: 5px 10px;
	color: #3b5998;
	text-decoration: none;
	background-color: white;
	border: thin solid black;
	bottom: 1em;
	right: 1em;
	font-size: 30px;
}
